body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#sidebar {
  position: fixed;
  height: 100vh;
  width: 252px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  z-index: 100000;
}

.ui.button.tool-button {
  background: white !important;
  color: black !important;
  font-size: 11px !important;
  cursor: pointer !important;
  margin: 0 auto !important;
  border-radius: 6px !important;
  text-align: center !important;
  border: solid 1px black !important;
  width: 100%;
  height: 150% !important;
}
.ui.segment {
  background-color: rgb(182, 181, 181) !important;
  width: 216px !important;
}
.ui.button.tool-button:hover {
  background: rgb(191, 243, 139) !important;
}
.ui.button.toolButtonSelected {
  background: rgb(139, 232, 46) !important;
}
.toolbox {
  display: 'flex';
  justify-content: 'space-around' !important;
  width: 216px;
}

.two.column.grid {
  display: flex;
  justify-content: space-around;
}

#tools-column-1 {
  width: 48%;
  padding: 1%;
}
#tools-column-2 {
  width: 48%;
  padding: 1%;
}

.brush-size-indicator {
  position: relative;
  border-radius: 50px;
  display: block;
  color: white;
}

.display {
  border: 1px solid rgb(230, 230, 230);
}

.pen-size-label {
  font-size: 15px;
}

.cursor {
  position: absolute;
  color: silver;
  font-family: 'Arial';
  font-size: 10px;
  user-select: none;
  cursor: default;
}

.join-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.join-header {
  font-family: 'Arial';
  font-size: 30px;
}

.join-input {
  font-weight: 300;
  color: rgb(100, 100, 100);
  padding: 5px 15px 7px 15px;
  font-size: 20px;
  border: none;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  margin: 5px;
}

.join-button {
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 20px;
  background: rgb(220, 220, 220);
  font-weight: 300;
  border: none;
  border-radius: 5px;
  color: rgb(100, 100, 100);
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.join-button:hover {
  background: rgb(230, 230, 230);
}

.layer.indicated {
  outline: dashed 1px grey;
}

.layer.selected {
  outline: dashed 2px red;
}

button.deleteElement {
  position: absolute;
  right: -8px;
  top: -6px;
  width: 0.5rem;
  height: 1.2rem;
  background-color: rgb(255, 247, 238);
  border: 2px solid black;
  border-radius: 50%;
}
button.deleteElement:hover {
  box-shadow: 0 0 10px orangered;
}
div.changeElement {
  position: absolute;
  right: -8px;
  bottom: -6px;
  width: 1rem;
  height: 1rem;
  background-color: rgb(255, 247, 238);
  border: 2px solid black;
  border-radius: 100% 100% 0 100%;
}
div.changeElement:hover {
  box-shadow: 0 0 10px orangered;
}
button.rotateElement {
  position: absolute;
  left: -8px;
  top: -6px;
  width: 0.5rem;
  height: 1.2rem;
  background-color: rgb(255, 247, 238);
  border: 2px solid black;
  border-radius: 50%;
}
button.rotateElement:hover {
  box-shadow: 0 0 10px orangered;
}
button.rotateRectTri {
  position: absolute;
  width: 0.5rem;
  height: 1.2rem;
  background-color: rgb(255, 247, 238);
  border: 2px solid black;
  border-radius: 50%;
}
button.rotateRectTri:hover {
  box-shadow: 0 0 10px orangered;
}
button.deleteLineRect {
  position: absolute;
  width: 0.5rem;
  height: 1.2rem;
  background-color: rgb(255, 247, 238);
  border: 2px solid black;
  border-radius: 50%;
}
button.deleteLineRect:hover {
  box-shadow: 0 0 10px orangered;
}
div.changeLineRect {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: rgb(255, 247, 238);
  border: 2px solid black;
}
div.changeLineRect:hover {
  box-shadow: 0 0 10px orangered;
}
.polygon {
  transform: rotate(180deg);
}

.tool-table {
  width: 92.5%;
  align-self: 'center';
  background-color: gray;
}
.tools-header {
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 7.5px !important;
  margin-top: -2.5px !important;
}

#fill-color {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid rgb(80, 80, 80);
  position: relative;
  left: 0.225rem;
  top: 0.2rem;
  margin-bottom: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stroke-color {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid rgb(80, 80, 80);
  position: relative;
  left: 0.225rem;
  top: 0.2rem;
  margin-bottom: 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-label {
  font-size: 8.75pt;
}
.applied-color-1 {
  border: 1px solid rgb(80, 80, 80);
  padding-bottom: 2.5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  width: 3rem;
  height: 48.5%;
  margin-left: 11px;
  margin-bottom: 3.5px;
}
.applied-color-2 {
  border: 1px solid rgb(80, 80, 80);
  padding-bottom: 2.5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  width: 3rem;
  height: 48.5%;
  margin-left: 11px;
  margin-top: 3.5px;
}
.selected-color {
  border: 0.1rem white solid;
  width: 1.9rem;
  height: 1.9rem;
  display: inline-block;
  text-align: center;
}
.selected-color-container {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  margin: 1.5px;
  text-align: center;
}
#color-grid-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
}
#main-colors-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 2.7rem;
  height: 100%;
}
#color-selections {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: space-around;
  padding-right: 2.5px;
}
